body {
}
body{
            background-color: black;
        }
      
        
        #h{
            /*border:2px;*/
            color:red;
            font-family:'Segoe Script';

        }
        .clss{
            font-family:Arial;
            font-size:18px;
            color:white;
            background-color:black;
            margin-left:20px;
        }
        #par{
            font-family:'Times New Roman';
            font-size:18px;
            color:red;
            margin-top:15px;
            margin-left:5px;
            background-color:#222;
            padding:10px;
        }
        .cl{
            border:groove;
            border-color:red;
           width:200px;
            position:absolute;
        }
     
     #spa{
         
         
         color:lawngreen;
     }
     #tab{
         margin-left:700px;
         height:200px;
         width:300px;
         border-color:lawngreen;
         border-style:ridge;
     }
     #t{
         color:lawngreen;
         background-color:grey;
         padding:10px;
     }
     td{
         color:lawngreen;
         padding:10px;
     }

     .cmn{
         padding:20px;
         color:#fff;

     }
     .hg{
         width:900px;
        text-align:center;
     }